body {
    background-color: #cccccc;
}

#side-bar, #forecast, #current-weather{
    background-color:white;
    border-radius: 15px;
    padding:15px;
}

#uv-index{
    background-color:transparent;
}

.clear-all-list{
    margin-top: 10px;
    text-align: center;
    list-style-type: none;
}
.hide{
    display: none;
}